__pycache__
*.pyc
.DS_Store
*~
.vscode
*.Identifier
config.py

docs/
src-4/
src-4/content/2D/_index.ja.md
src-4/content/3D/_index.ja.md
src-4/content/3D/assets/_index.ja.md
src-4/content/ai/_index.ja.md
src-4/content/animation/_index.ja.md
src-4/content/audio/_index.ja.md
src-4/content/basics/_index.ja.md
src-4/content/g101/3d/_index.ja.md
src-4/content/g101/_index.ja.md
src-4/content/g101/gdscript/_index.ja.md
src-4/content/g101/start/_index.ja.md
src-4/content/games/_index.ja.md
src-4/content/input/_index.ja.md
src-4/content/kyn/_index.ja.md
src-4/content/Math/_index.ja.md
src-4/content/physics/_index.ja.md
src-4/content/recipes/_index.ja.md
src-4/content/shaders/_index.ja.md
src-4/content/ui/_index.ja.md
docs/4.x/ui/radial_menu/index.html
docs/4.x/ui/minimap/index.html
docs/4.x/ui/level_select/index.html
docs/4.x/ui/index.xml
docs/4.x/ui/index.html
docs/4.x/ui/heart_containers_3/index.html
docs/4.x/ui/floating_text/index.html
docs/4.x/ui/cooldown_button/index.html
docs/4.x/tags/index.html
docs/4.x/recent/index.html
docs/4.x/physics/smooth_rigid_rotate/index.html
docs/4.x/physics/smooth_rigid_move/index.html
docs/4.x/physics/rigidbody_drag_drop/index.html
docs/4.x/physics/index.xml
docs/4.x/physics/index.html
docs/4.x/physics/character_vs_rigid/index.html
docs/4.x/physics/asteroids_physics/index.html
docs/4.x/math/transforms/index.html
docs/4.x/math/interpolation/index.html
docs/4.x/math/index.xml
docs/4.x/math/index.html
docs/4.x/math/dot_cross_product/index.html
docs/4.x/kyn/raycast2d/index.html
docs/4.x/kyn/index.xml
docs/4.x/kyn/index.html
docs/4.x/input/processing_inputs/index.html
docs/4.x/input/multi_unit_select/index.html
docs/4.x/input/mouse_input/index.html
docs/4.x/input/mouse_capture/index.html
docs/4.x/input/input_actions/index.html
docs/4.x/input/index.xml
docs/4.x/input/index.html
docs/4.x/input/custom_actions/index.html
docs/4.x/index.xml
docs/4.x/index.html
docs/4.x/games/index.xml
docs/4.x/games/index.html
docs/4.x/games/first_2d/index.html
docs/4.x/games/first_2d/first_2d_end/index.html
docs/4.x/games/first_2d/first_2d_10/index.html
docs/4.x/games/first_2d/first_2d_09/index.html
docs/4.x/games/first_2d/first_2d_08/index.html
docs/4.x/games/first_2d/first_2d_07/index.html
docs/4.x/games/first_2d/first_2d_06/index.html
docs/4.x/games/first_2d/first_2d_05/index.html
docs/4.x/games/first_2d/first_2d_04/index.html
docs/4.x/games/first_2d/first_2d_03/index.html
docs/4.x/games/first_2d/first_2d_02/index.html
docs/4.x/games/first_2d/first_2d_01/index.html
docs/4.x/g101/start/index.xml
docs/4.x/g101/start/index.html
docs/4.x/g101/start/101_03/index.html
docs/4.x/g101/start/101_02/index.html
docs/4.x/g101/start/101_01/index.html
docs/4.x/g101/index.xml
docs/4.x/g101/index.html
docs/4.x/g101/gdscript/index.html
docs/4.x/g101/gdscript/gdscript_01/index.html
docs/4.x/g101/3d/index.html
docs/4.x/g101/3d/101_3d_03/index.html
docs/4.x/g101/3d/101_3d_02/index.html
docs/4.x/g101/3d/101_3d_01/index.html
docs/4.x/categories/index.html
docs/4.x/basics/understanding_delta/index.html
docs/4.x/basics/tree_ready_order/index.html
docs/4.x/basics/node_communication/index.html
docs/4.x/basics/migrating/index.html
docs/4.x/basics/index.html
docs/4.x/basics/getting_nodes/index.html
docs/4.x/basics/file_io/index.html
docs/4.x/audio/index.html
docs/4.x/audio/audio_manager/index.html
docs/4.x/animation/using_animation_sm/index.html
docs/4.x/animation/spritesheet_animation/index.html
docs/4.x/animation/index.xml
docs/4.x/animation/index.html
docs/4.x/ai/pet_following/index.html
docs/4.x/ai/index.xml
docs/4.x/ai/index.html
docs/4.x/ai/homing_missile/index.html
docs/4.x/ai/chasing/index.html
docs/4.x/404.html
docs/4.x/3d/spaceship/index.html
docs/4.x/3d/simple_airplane/index.html
docs/4.x/3d/shooting_raycasts/index.html
docs/4.x/3d/rotate_interpolate/index.html
docs/4.x/3d/rolling_cube/index.html
docs/4.x/3d/interpolated_camera/index.html
docs/4.x/3d/index.xml
docs/4.x/3d/index.html
docs/4.x/3d/healthbars/index.html
docs/4.x/3d/click_to_move/index.html
docs/4.x/3d/characterbody3d_examples/index.html
docs/4.x/3d/camera_gimbal/index.html
docs/4.x/3d/basic_fps/index.html
docs/4.x/3d/assets/index.html
docs/4.x/3d/assets/importing_assets/index.html
docs/4.x/3d/assets/character_controller/index.html
docs/4.x/3d/assets/character_animation/index.html
docs/4.x/3d/3d_sphere_car/index.html
docs/4.x/3d/3d_align_surface/index.html
docs/4.x/2d/using_ysort/index.html
docs/4.x/2d/topdown_movement/index.html
docs/4.x/2d/screen_wrap/index.html
docs/4.x/2d/platform_character/index.html
docs/4.x/2d/multi_target_camera/index.html
docs/4.x/2d/moving_platforms/index.html
docs/4.x/2d/line_collision/index.html
docs/4.x/2d/index.xml
docs/4.x/2d/index.html
docs/4.x/2d/grid_pathfinding/index.html
docs/4.x/2d/grid_movement/index.html
docs/4.x/2d/enter_exit_screen/index.html
docs/4.x/2d/coyote_time/index.html
docs/4.x/2d/car_steering/index.html
docs/4.x/2d/8_direction/index.html
docs/4.x/2d/2d_shooting/index.html
