{{- $description := "" -}}
{{- with .Description -}}
  {{- $description = . | plainify | htmlUnescape | htmlUnescape | replaceRE "\\s+" " " | strings.TrimSpace | truncate 160 -}}
{{- else -}}
  {{- with .Summary -}}
    {{- $description = . | replaceRE "(?is)<pre\\b[^>]*>.*?</pre>" "" | replaceRE "(?is)<code\\b[^>]*>.*?</code>" "" | replaceRE "(?is)<script\\b[^>]*>.*?</script>" "" | replaceRE "(?is)<style\\b[^>]*>.*?</style>" "" | plainify | htmlUnescape | htmlUnescape | replaceRE "\\s+" " " | strings.TrimSpace | truncate 160 -}}
  {{- end -}}
{{- end -}}
{{- if not $description -}}
  {{- $description = .Site.Params.description | plainify | htmlUnescape | htmlUnescape | replaceRE "\\s+" " " | strings.TrimSpace | truncate 160 -}}
{{- end -}}
{{- $description -}}
